@inherits SnComponentBase

<div class="Raftel-switch">
    <SfSwitch TChecked="bool?" @bind-Checked="@Checked" ValueChange="@OnValueChanged"></SfSwitch>
</div>

<style>
  .Raftel-switch > .e-switch-wrapper{
        display: inherit !important;
    }
</style>

@code {
    [Parameter] public bool? Checked { get; set; }

    [Parameter] public EventCallback<bool?> ValueChanged { get; set; }

    private async Task OnValueChanged(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool?> obj)
    {
        if (ValueChanged.HasDelegate)
        {
            await ValueChanged.InvokeAsync(obj.Checked);
        }
    }

}