@inherits SnComponentBase

<div class="collapsible-panel">
    <div class="panel-header" @onclick="TogglePanel">
        <span class="chevron @(_collapsed ? "down" : "up")"></span>
        @Text
    </div>

    <div class="panel-content" style="@PanelDisplayStyle()">
        @Content
    </div>
</div>