@inherits SnComponentBase

<div class="sawnet-button">
    <SfButton CssClass="@($"e-flat {GetButtonStyle()}")"
              Content="@Text"
              @onclick="OnButtonClickedAsync"
              Disabled="@Disabled"
              IconCss="@Icon"
              IsPrimary="true"/>
</div>