.clickable-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.button-text {
    margin-right: 8px;
    color: black;
    font-size: 14px;
}