@if (Visible)
{
    <div class="clickable-button" @onclick="HandleClick">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <SnIcon CssClass="@Icon" Color="@IconColor" IsCircular="true"></SnIcon>
        }

        @if (!string.IsNullOrEmpty(Text))
        {
            <span class="button-text">@Text</span>
        }
    </div>
}