.sn-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    max-height: calc(100vh - 145px);
    height: calc(100vh - 145px);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.body-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.toolbar-left-items {
    display: flex;
    align-items: center;
}

.toolbar-right-items {
    display: flex;
    align-items: center;
}


.grid-container {
    display: flex;
    flex: 1;
}

.grid-filter {
    width: 321px;
    padding: 10px;
}

.grid-body {
    flex: 1;
    overflow-y: auto;
    height: auto;
}

.grid-insight {
    width: 500px;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    display: none;
    height: auto;
}

.visible {
    opacity: 1;
    display: block;
    border-left: 1px solid #e1e1e1;
}