@inherits SnComponentBase

<div class="collapsible-panel">
    <div class="panel-header" @onclick="TogglePanel">
        <i class="fas fa-chevron-@(_collapsed ? "down" : "up")" style="margin-right: 4px; margin-left: 4px;"></i>
        @Text
    </div>

    <div class="panel-content" style="@PanelDisplayStyle()">
        @Content
    </div>
</div>