<#@ template language="C#" #>
namespace CookBook.Core.Recipes.ValueObjects;

public record RecipeId : EntityId
{
    private RecipeId()
    {
    }

    public static RecipeId Create(Guid value)
    {
        return new RecipeId
        {
            Value = value
        };
    }

    public static explicit operator RecipeId(Guid id) => Create(id);

    public static implicit operator Guid(RecipeId id) => id.Value;
}