.form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label-top {
    flex-direction: column;
}

.wide {

}

.form-field-label {
    white-space: nowrap;
}

.field {
    min-width: 300px;
}

.separator {
    border-bottom: 2px dotted lightgray;
    margin: 0 5px;
    width: 100%;
}