@typeparam TItem where TItem : class
@using Sawnet.Blazor.Forms.Groups
@using Sawnet.Blazor.Panels.TogglePanel
@using Sawnet.Blazor.Forms.Configurators
@inherits SnComponentBase

<div>
    @if (Configuration != null)
    {
        foreach (var group in Configuration.Groups)
        {
            if (group.Collapsible)
            {
                <SnTogglePanel Text="@group.Title" Icon="@group.Icon">
                    <Content>
                        <SnFormGroup TItem="TItem" Item="Item" Group="@group"/>
                    </Content>
                </SnTogglePanel>
            }
            else
            {
                <SnFormGroup TItem="TItem" Item="Item" Group="@group"/>
            }
        }
    }
</div>