@inherits Sawnet.Blazor.SnComponentBase
@typeparam TItem where TItem : class

<SnModalForm @ref="_modalForm"
             Title="@Title"
             OnPrimaryButtonClicked="SaveAsync"
             Height="@Height"
             Width="@Width"
             HasFooter="true"
             PrimaryButtonIcon="fas fa-save"
             PrimaryButtonText="Common.Save">
    <Body>
    <SnTypedForm @ref="_typedForm"
                 TItem="TItem" 
                 Configuration="@Configuration"/>
    </Body>
</SnModalForm>