.form-grid {
    padding: 5px;
    display: grid;
}

.section-container {
    gap: 15px;
    padding: 3px 0 3px 0;
    display: grid;
}

/* Sets the grid columns to repeat automatically fitting the container width,
   with a minimum width of 100% or 500px, whichever is larger,
   and each column takes up equal space. */
.one-column {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(500px, 100%)), 1fr));
}

/* Sets the grid columns to repeat automatically fitting the container width,
   with a minimum width of 95% or 500px divided by 2 (50%),
   whichever is larger, and each column takes up equal space. */
.two-columns {
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(500px, 95% / 2)), 1fr));
}