@typeparam TItem where TItem : class
@using Raftel.Blazor.Common
@using Raftel.Blazor.Grid.Columns.Types
@using Raftel.Shared.Common
@inherits SnComponentBase

<div class="indicator">
    @{
        <div class="circle" style="background-color: @GetColor()"></div>
        <span class="text">@GetValue()</span>
    }
</div>


@code {

    [Parameter] public ColorColumn Column { get; set; }

    [Parameter] public TItem Item { get; set; }

    private string GetColor()
    {
        var property = Item?.GetPropertyValue(Column.PropertyName);
        if (property is ColorItem item)
        {
            return item.Color;
        }

        return string.Empty;
    }

    private string GetValue()
    {
        var property = Item?.GetPropertyValue(Column.PropertyName);
        if (property is ColorItem item)
        {
            return item.Value;
        }

        return string.Empty;
    }

}