@inherits SnComponentBase

<div class="tiny-info-panel-container">
    <div class="text" style="border-left: 6px solid @Color;">

        <span class="description">@Description</span>

        <div class="counter">
            <span class="value">@Value</span>
            <span class="label">@ShortDescription</span>
            @if (OnClick.HasDelegate)
            {
                <span class="change-link" @onclick="OnClickClicked">(@LinkText)</span>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string Color { get; set; }

    [Parameter] public string Description { get; set; }

    [Parameter] public string Value { get; set; }

    [Parameter] public string ShortDescription { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }

    [Parameter] public string LinkText { get; set; } = "view";

    private void OnClickClicked()
    {
        if (OnClick.HasDelegate)
        {
            OnClick.InvokeAsync().Forget();
        }
    }

}