<div class="sawnet-tab-item">
    <TabItem>
        <ChildContent>
            <TabHeader Text="@Title" IconCss="@Icon"/>
        </ChildContent>
        <ContentTemplate>
            @Content
        </ContentTemplate>
    </TabItem>
</div>